@charset "UTF-8";
:root {
  --clr-base: #fff;
  --clr-base-light: #ffffff30;
  --clr-att: #E79E2D;
  --clr-att-second: #02A480;
  --clr-att-third: #105e4d;
  --clr-bg: #01121A;
  --clr-border: #ffffff30;
  --clr-border-light: #ffffff10;
  --min: 360px;
  --max: 1376px;
  --paddingContainer: 10px;
  --filter-dark: brightness(0) grayscale(1);
  --filter-white: brightness(0) invert(1);
  font-size: 10px;
}
.sl-wrap:not(.swiper-slide) ~ .sl-wrap {
  display: none;
}
.elm-hidden {
  display: none;
}
/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
  color: var(--clr-base);
  background: var(--clr-bg);
  font-size: 18px;
  line-height: 1.44444444;
}
p,
ul,
ol,
table,
blockquote,
.bq-text {
  position: relative;
  margin-bottom: 1.44444444em;
}
p img,
ul img,
ol img,
table img,
blockquote img,
.bq-text img {
  max-width: 100%;
}
p:last-child,
ul:last-child,
ol:last-child,
table:last-child,
blockquote:last-child,
.bq-text:last-child {
  margin-bottom: 0 !important;
}
li {
  position: relative;
  padding-left: 1.88888889em;
}
li:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--clr-att);
  position: absolute;
  top: 0.72222222em;
  left: 0;
  margin-top: -4px;
}
ol {
  counter-reset: li;
  list-style: none;
}
ol ol {
  margin-left: -2.33333333em;
  margin-right: 0;
}
ol ol > li:before {
  background-color: transparent;
  font-size: 11px;
  color: var(--clr-att-second);
  border: 1px solid var(--clr-att-second);
}
ol > li:before,
ol ol > li:before {
  counter-increment: li;
  content: counters(li, ".");
}
ol ul {
  margin-top: -0.5em;
}
ol ul:first-child {
  margin-top: 0;
}
ol ul li {
  margin-bottom: 0.83333333em;
}
ol ul li:last-child {
  margin-bottom: 0;
}
ol > li {
  position: relative;
  padding-left: 2.33333333em;
  margin-bottom: 0.88888889em;
}
ol > li:last-child {
  margin-bottom: 0;
}
ol > li:before {
  /* content: counter(li); 
			counter-increment: li;  */
  border-radius: 0;
  background-color: transparent;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.05em;
  background: var(--clr-att-second);
  border-radius: 50%;
  color: var(--clr-att-hover);
  font-size: 13px;
}
.menu,
.list {
  margin: 0;
  padding: 0;
}
.menu li,
.list li {
  margin: 0;
  padding: 0;
}
.menu li:before,
.list li:before {
  display: none;
}
a {
  text-decoration: none;
  color: var(--clr-att-second);
}
a:hover {
  text-decoration: none;
  color: var(--clr-att);
}
a.link-main,
.link-main {
  text-decoration: none;
  border-bottom: 1px solid;
}
.link-phone,
.link-email,
.link-location {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  color: inherit;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link-phone.link-text,
.link-email.link-text,
.link-location.link-text {
  display: inline;
  padding: 0;
}
.link-phone.link-text:before,
.link-email.link-text:before,
.link-location.link-text:before {
  display: none;
}
.link-email:before {
  background-image: url(../img/icons/link-email.svg);
}
.link-location {
  white-space: normal;
}
.link-location:before {
  background-image: url(../img/icons/link-location.svg);
}
a.link-phone:hover,
a.link-email:hover,
a.link-location:hover {
  color: var(--clr-att);
}
.page-title,
.page-subtitle,
h1,
.h1-title,
h2,
.h2-title,
h3,
.h3-title,
h4,
.h4-title,
h5,
.h5-title,
h6,
.h6-title {
  display: block;
  position: relative;
  font-weight: bold;
  margin: 1em 0;
}
.page-title:first-child,
.page-subtitle:first-child,
h1:first-child,
.h1-title:first-child,
h2:first-child,
.h2-title:first-child,
h3:first-child,
.h3-title:first-child,
h4:first-child,
.h4-title:first-child,
h5:first-child,
.h5-title:first-child,
h6:first-child,
.h6-title:first-child {
  margin-top: 0;
}
.page-title,
.page-subtitle {
  font-size: 1.66666667em;
  line-height: 1.2;
  letter-spacing: 0.041em;
  text-transform: uppercase;
}
.page-title.title-small {
  font-size: 24px;
  line-height: 1.5;
}
.page-subtitle {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.05em;
  margin-bottom: 12px;
}
.text-att,
.title-att {
  color: var(--clr-att);
}
.text-light,
.title-light {
  color: var(--clr-light);
}
.text-center,
.title-center {
  text-align: center;
}
.cnt-box {
  margin-bottom: 20px;
  border-radius: 2.3rem;
  border: 1px solid var(--clr-border-light);
  padding: 9px;
}
.cnt-inner-box {
  border-radius: 2.3rem;
  border: 1px solid var(--clr-border);
  background: url(../img/main/bg.png) center 86px / auto;
  padding: 20px 38px;
  padding: 20px 3.8rem;
}
.item-inner-box {
  border-radius: 2.3rem;
  border: 1px solid var(--clr-border);
  background: url(../img/main/bg.png) center 86px / auto;
  padding: 14px;
}
@media (max-width: 1299px) {
  :root {
    font-size: 9.5px;
  }
  body {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  :root {
    font-size: 9px;
  }
}
@media (max-width: 1023px) {
  :root {
    font-size: 8px;
  }
  body {
    font-size: 15px;
  }
  .page-title {
    font-size: 1.55555556em;
  }
  .cnt-box {
    padding: 4px;
  }
  .cnt-inner-box {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  :root {
    font-size: 7px;
  }
}
@media (min-width: 1024px) {
  :root {
    --paddingContainer: 30px;
  }
}
@media (min-width: 1300px) {
  :root {
    --paddingContainer: 40px;
  }
}
/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: var(--min);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
html {
  scrollbar-gutter: stable;
}
.cnt-full-wrap {
  margin-left: calc(var(--paddingContainer) * -1);
  margin-right: calc(var(--paddingContainer) * -1);
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
}
.inner-wrap,
.page-full {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
  min-width: var(--min);
  max-width: var(--max);
  width: 100%;
}
.inner-wrap .inner-wrap,
.page-full .inner-wrap {
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.inner-wrap .cnt-section,
.page-full .cnt-section {
  min-width: 0;
}
.page-full {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  margin-bottom: 60px;
  margin-bottom: 6rem;
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
  position: relative;
  clear: both;
  min-width: var(--min);
  width: 100%;
}
.wrap {
  overflow: hidden;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.wrap > .cnt-section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.wrap:before,
.wrap:after {
  content: "";
  display: block;
  width: 730px;
  height: 730px;
  border-radius: 50%;
  background: var(--clr-att-second);
  position: absolute;
  top: 220px;
  z-index: -1;
  opacity: 0.1;
  filter: blur(100px);
}
.wrap:before {
  left: 50%;
  margin-left: -1450px;
}
.wrap:after {
  right: 50%;
  margin-right: -1450px;
}
.nav,
.header,
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1;
  text-align: left;
}
.nav ul,
.header ul,
.footer ul,
.nav li,
.header li,
.footer li,
.nav p,
.header p,
.footer p {
  margin: 0;
  padding: 0;
}
.nav ul:before,
.header ul:before,
.footer ul:before,
.nav li:before,
.header li:before,
.footer li:before,
.nav p:before,
.header p:before,
.footer p:before {
  display: none;
}
.nav a,
.header a,
.footer a {
  text-decoration: none;
  position: relative;
  transition: all ease 0.2s;
}
.wrap-main .header {
  margin-bottom: 8px;
}
.wrap-main .header .inner-wrap:before {
  display: none;
}
.header {
  z-index: 99;
  margin-bottom: 53px;
  margin-bottom: 5.3rem;
}
.header .inner-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 110px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header .inner-wrap:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: var(--paddingContainer);
  right: var(--paddingContainer);
  height: 1px;
  background-color: var(--clr-border-light);
}
.header .logo-inner-wrap {
  width: 212px;
  width: 21.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-order: 1;
      order: 1;
}
.header .menu-inner-wrap {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-order: 2;
      order: 2;
}
.header .menu-list-wrap {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 30px;
  padding: 0 3rem;
  -ms-flex: 1;
      flex: 1;
}
.header .menu-list-wrap .menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 -20px;
  margin: 0 -2rem;
}
.header .menu-list-wrap li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .menu-list-wrap .btn-menu {
  display: block;
  color: inherit;
  padding: 0 20px;
  padding: 0 2rem;
  height: 30px;
  line-height: 30px;
}
.header .menu-list-wrap .btn-menu:hover,
.header .menu-list-wrap .btn-menu.active {
  color: var(--clr-att);
}
.header .lang-inner-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .lang-inner-wrap .menu {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}
.header .lang-inner-wrap li {
  padding: 0 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .lang-inner-wrap .btn.button-content {
  min-width: 68px;
  padding: 0 15px;
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
}
.header .lang-inner-wrap .btn.button-border:not(:hover, .active) {
  color: #ffffff30;
  border-color: #1E2023;
}
.header .lang-inner-wrap .btn.button-border:hover,
.header .lang-inner-wrap .btn.button-border.active {
  border-color: var(--clr-att);
  background-color: transparent;
  color: var(--clr-att);
}
.header .login-inner-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 30px;
  padding-left: 3rem;
  text-align: right;
  width: 270px;
  width: 27rem;
  -ms-flex-order: 3;
      order: 3;
}
.header .login-inner-wrap .btn.button-content {
  padding: 0 24px;
  font-size: 14px;
  text-transform: none;
}
.header .btn-user {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  padding: 0 0 0 30px;
  max-width: 100%;
  font-weight: bold;
  color: #fff;
}
.header .btn-user:hover {
  color: var(--clr-att-second);
}
.header .btn-user:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../img/icons/user.svg) center no-repeat;
  background-size: 100% auto;
  top: 50%;
  left: 0;
  margin-top: -10px;
}
.header .btn-user .button-title {
  display: block;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.popup-menu-wrap .popup-content-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.popup-menu-wrap .btn-popup {
  display: none;
}
.footer {
  position: relative;
  font-size: 14px;
  color: #ffffff30;
  line-height: 20px;
}
.footer:before {
  content: "";
  display: block;
  width: 530px;
  height: 530px;
  border-radius: 50%;
  background: var(--clr-att-second);
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -265px;
  margin-bottom: -100px;
  z-index: -1;
  opacity: 0.1;
  filter: blur(100px);
}
.footer-main-panel .logo-inner-wrap {
  width: 34%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 30px 0 0;
  padding: 0 3rem 0 0;
}
.footer-main-panel .partners-inner-wrap {
  -ms-flex: 1;
      flex: 1;
  padding-top: 10px;
}
.footer-main-panel .box-inner-wrap {
  position: relative;
  z-index: 2;
  padding: 40px 0;
  padding: 4rem 0;
  min-height: 220px;
  min-height: 22rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.footer-main-panel .box-inner-wrap:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -72px;
  left: -7.2rem;
  right: -72px;
  right: -7.2rem;
  z-index: -1;
  border: 1px solid var(--clr-border-light);
  border-radius: 2.3rem;
}
.footer-main-panel .list {
  margin: 0 -10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-main-panel .list li {
  padding: 0 10px;
  width: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 20px;
}
.footer-main-panel .list .elm-photo {
  aspect-ratio: inherit;
  height: 30px;
  width: auto;
}
.footer-main-panel .list .elm-photo img,
.footer-main-panel .list .elm-photo svg {
  height: 30px;
  width: auto;
  max-width: inherit;
}
.footer-main-panel .partners-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
}
.footer-main-panel .logo-wrap {
  width: 306px;
  width: 30.6rem;
  max-width: 100%;
}
.footer-main-panel .info-wrap {
  margin-top: 30px;
  margin-top: 3rem;
}
.footer-main-panel a:not(:hover) {
  color: inherit;
}
.footer-bottom-panel {
  padding: 36px 0 36px 0;
}
.footer-bottom-panel .info-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.footer-bottom-panel .info-wrap {
  margin-bottom: 8px;
  width: 50%;
  max-width: 436px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 10px;
}
.logo {
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 1;
  text-decoration: none;
  width: 100%;
  letter-spacing: normal;
  font-weight: 400;
}
.logo:hover {
  text-decoration: none;
}
.logo img {
  display: block;
  width: 100%;
}
@media (max-width: 1599px) {
  .footer-main-panel .box-inner-wrap:before {
    left: -4rem;
    right: -4rem;
  }
}
@media (max-width: 1399px) {
  .footer-main-panel .box-inner-wrap {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .footer-main-panel .box-inner-wrap:before {
    left: 0;
    right: 0;
  }
}
@media (max-width: 1199px) {
  .header .login-inner-wrap {
    padding-left: 3rem;
    width: 24rem;
  }
}
@media (max-width: 1023px) {
  .section-mobile-full {
    margin-left: calc(var(--paddingContainer) * -1);
    margin-right: calc(var(--paddingContainer) * -1);
  }
  .header .inner-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 0;
  }
  .header .logo-inner-wrap {
    width: 120px;
  }
  .header .menu-inner-wrap {
    width: 40px;
    -ms-flex: 0 0 40px;
        flex: 0 0 40px;
    -ms-flex-order: 3;
        order: 3;
    position: relative;
  }
  .header .login-inner-wrap {
    -ms-flex: 1;
        flex: 1;
    -ms-flex-order: 2;
        order: 2;
    padding: 0 var(--paddingContainer) 0 24px;
    text-align: right;
    width: auto;
    max-width: calc(100% - 40px - 120px);
  }
  .header .menu-list-wrap {
    display: block;
  }
  .header .menu-list-wrap .menu {
    display: block;
    text-align: center;
    margin: 0;
  }
  .header .menu-list-wrap .btn-menu {
    white-space: normal;
    height: auto;
    padding: 10px 15px;
    display: block;
    line-height: 1.2;
  }
  .header .lang-inner-wrap {
    padding: 30px 0 15px 0;
  }
  .header .lang-inner-wrap .menu {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .popup-menu-wrap .btn-popup {
    display: block;
    z-index: 10;
  }
  .popup-menu-wrap .popup-content-block {
    display: none;
    border-radius: 10px;
    width: calc(var(--min) - var(--paddingContainer) - var(--paddingContainer));
    z-index: 20;
    padding: 15px 0;
    border: 1px solid var(--clr-border-light);
    background: var(--clr-bg);
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 20px;
  }
  .footer-bottom-panel .info-wrap {
    width: 50%;
    max-width: 50%;
  }
  .footer-bottom-panel .info-wrap:last-child {
    text-align: right;
  }
  .footer-main-panel .box-inner-wrap {
    min-height: 0;
    -ms-flex-align: start;
        align-items: flex-start;
  }
  .footer-main-panel .partners-inner-wrap {
    padding-top: 0;
  }
}
@media (max-width: 639px) {
  .header .login-inner-wrap .btn.button-content {
    font-size: 12px;
    padding: 0;
    border: none;
    min-width: 0;
    background: none;
    color: var(--clr-att-second);
  }
  .header .login-inner-wrap .btn.button-content:hover {
    color: var(--clr-att);
  }
  .footer-main-panel .box-inner-wrap {
    display: block;
  }
  .footer-main-panel .logo-inner-wrap {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 3rem;
  }
  .footer-main-panel .partners-inner-wrap {
    width: 100%;
    text-align: center;
  }
  .footer-main-panel .partners-inner-wrap .list {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .footer-main-panel .logo-wrap {
    margin: 0 auto;
  }
  .footer-bottom-panel .info-inner-wrap {
    display: block;
  }
  .footer-bottom-panel .info-wrap {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .footer-bottom-panel .info-wrap:last-child {
    text-align: center;
  }
}
/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-new {
  display: block;
  position: relative;
  overflow: hidden;
  color: var(--clr-base);
  font-size: 14px;
  line-height: 20px;
  transition: all ease 0.2s;
}
.item-tile-new:hover {
  color: var(--clr-att-second);
}
.item-tile-new .tile-photo {
  border-radius: 2rem;
  border: 1px solid var(--clr-border);
  aspect-ratio: 416/250;
}
.item-tile-new .tile-photo-wrap {
  display: block;
}
.item-tile-new .tile-info-wrap {
  display: block;
  padding: 26px 80px 0 20px;
  padding: 26px 8rem 0 2rem;
}
.item-tile-new .tile-info {
  display: block;
  color: var(--clr-base-light);
}
.item-tile-new .tile-title {
  display: block;
  margin: 7px 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  position: relative;
}
.item-tile-new .tile-title:before {
  content: "";
  display: block;
  width: 40px;
  width: 4rem;
  height: 40px;
  height: 4rem;
  position: absolute;
  background: url(../img/icons/arrow-more.svg) center no-repeat;
  background-size: 100% auto;
  top: 1.5em;
  left: 100%;
  margin-left: 20px;
  margin-left: 2rem;
  margin-top: -20px;
  margin-top: -2rem;
}
.item-tile-new .tile-title:first-child {
  margin-top: 0;
}
.item-tile-new .tile-title:last-child {
  margin-bottom: 0;
}
.item-tile-plus {
  display: block;
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  color: var(--clr-base-light);
  text-align: center;
  max-width: 16.25em;
}
.item-tile-plus .tile-light {
  display: inline;
  font-weight: bold;
  color: var(--clr-base);
}
.item-tile-plus .tile-ico {
  width: 70px;
  width: 7rem;
  height: 70px;
  height: 7rem;
  margin: 0 auto 22px auto;
  margin: 0 auto 2.2rem auto;
}
.item-tile-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: var(--clr-base-light);
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4rem;
  padding: 49px;
  padding: 4.9rem;
}
.item-tile-article .tile-photo-wrap {
  width: 256px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-tile-article .tile-info-wrap {
  -ms-flex: 1;
      flex: 1;
  padding-left: 50px;
  padding-left: 5rem;
  padding-bottom: 15px;
}
.item-tile-article .tile-photo {
  border-radius: 2rem;
  height: 180px;
  aspect-ratio: inherit;
}
.item-tile-article .tile-title-info {
  display: block;
  line-height: 1.75;
  color: var(--clr-att-second);
  margin: 0;
}
.item-tile-article .tile-title {
  margin: 0 0 6px 0;
  font-size: 1.125em;
  line-height: 1.55555556;
  color: #fff;
  font-weight: bold;
}
.item-tile-article .btn {
  margin-top: 20px;
}
.item-tile-article p {
  margin: 0;
}
:is([class^="item-tile"]):hover .elm-photo img,
:is([class^="item-tile"]):hover .tile-photo img {
  transform: scale(1.03);
}
.elm-photo,
.tile-photo {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  line-height: 1;
}
.elm-photo.photo-main,
.tile-photo.photo-main {
  border: 1px solid #f00;
  width: 300px;
  height: 300px;
}
.elm-photo:before,
.tile-photo:before {
  content: "";
  display: none;
  padding-top: 100%;
}
.elm-photo img,
.tile-photo img {
  display: block;
  position: relative;
  width: 100%;
  transition: all ease-out 1s;
}
.elm-photo.photo-cover:before,
.tile-photo.photo-cover:before {
  display: block;
}
.elm-photo.photo-cover img,
.tile-photo.photo-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elm-photo.photo-contain:before,
.tile-photo.photo-contain:before {
  display: block;
}
.elm-photo.photo-contain img,
.tile-photo.photo-contain img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
@supports (aspect-ratio: 1) {
  .elm-photo:not(.photo-cover, .photo-contain),
  .tile-photo:not(.photo-cover, .photo-contain) {
    aspect-ratio: inherit !important;
  }
  .photo-cover,
  .photo-contain {
    aspect-ratio: 1;
  }
  .photo-cover:before,
  .photo-contain:before {
    display: none !important;
  }
}
.elm-price,
.tile-price {
  white-space: nowrap;
}
.elm-price.price-old,
.tile-price.price-old {
  text-decoration: line-through;
}
[data-unit]:after {
  content: attr(data-unit);
  font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
}
.elm-ico,
.button-ico,
.menu-ico,
.frm-ico,
.tab-ico,
.tile-ico,
.lbl-ico {
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.elm-ico img,
.button-ico img,
.menu-ico img,
.frm-ico img,
.tab-ico img,
.tile-ico img,
.lbl-ico img,
.elm-ico [class*="icon-"],
.button-ico [class*="icon-"],
.menu-ico [class*="icon-"],
.frm-ico [class*="icon-"],
.tab-ico [class*="icon-"],
.tile-ico [class*="icon-"],
.lbl-ico [class*="icon-"],
.elm-ico .i,
.button-ico .i,
.menu-ico .i,
.frm-ico .i,
.tab-ico .i,
.tile-ico .i,
.lbl-ico .i,
.elm-ico svg,
.button-ico svg,
.menu-ico svg,
.frm-ico svg,
.tab-ico svg,
.tile-ico svg,
.lbl-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.elm-overlay {
  display: none;
  animation: fadein ease 0.2s;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 120;
}
.elm-overlay.active {
  display: block;
}
.elm-sticker,
.tile-sticker {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #000;
  height: 27px;
  line-height: 27px;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 1023px) {
  .item-tile-new .tile-info-wrap {
    padding-right: 50px;
  }
  .item-tile-new .tile-title {
    font-size: 15px;
  }
  .item-tile-new .tile-title:before {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: 10px;
  }
  .item-tile-article {
    padding: 29px;
    -ms-flex-align: start;
        align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .item-tile-article {
    display: block;
    padding: 14px;
  }
  .item-tile-article .tile-photo-wrap {
    width: 100%;
  }
  .item-tile-article .tile-info-wrap {
    padding: 30px 0 0 0;
    width: 100%;
  }
  .item-tile-article .btn {
    margin-top: 10px;
  }
  .item-tile-article .tile-photo {
    height: 200px;
  }
}
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.tiles-news-box {
  margin-bottom: 60px;
  margin-bottom: 6rem;
}
.tiles-news-box .items-wrap {
  margin: 0 -12px -50px -12px;
  margin: 0 -1.2rem -5rem -1.2rem;
}
.tiles-news-box .item-wrap {
  padding: 0 12px;
  padding: 0 1.2rem;
  margin-bottom: 50px;
  margin-bottom: 5rem;
  width: 33.33%;
}
.tiles-pluses-box {
  margin-bottom: 70px;
  margin-bottom: 7rem;
}
.tiles-pluses-box .items-wrap {
  margin: 0 -20px -40px -20px;
  margin: 0 -2rem -4rem -2rem;
}
.tiles-pluses-box .item-wrap {
  padding: 0 20px;
  padding: 0 2rem;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  width: 25%;
}
.units-list-box {
  margin-bottom: 25px;
}
.units-list-box .list {
  columns: 2;
  column-gap: 10px;
  margin: 0 -10px;
}
.units-list-box .list li {
  break-inside: avoid-column;
}
.tabs-box {
  margin-bottom: 10px;
}
.tabs-box .menu {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tabs-box .menu li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 15px 15px 0;
}
.search-box {
  margin-bottom: 25px;
}
.change-box {
  margin-bottom: 60px;
  margin-bottom: 6rem;
}
.change-box .columns-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -4px;
}
.change-box .column-inner-wrap {
  width: 33.33%;
  padding: 0 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.change-box .column-content-inner {
  padding: 0 20px;
  padding: 0 2rem;
}
.change-box .form-box.form-full {
  -ms-flex: 1;
      flex: 1;
}
.form-box {
  padding: 19px;
  margin-bottom: 30px;
  margin-bottom: 3rem;
}
.form-box:last-child {
  margin-bottom: 0;
}
.form-box .frm-title {
  text-align: center;
  color: var(--clr-att);
}
.form-box .frm-field {
  margin-bottom: 15px;
}
.form-box .frm-row:last-child .frm-field:last-child,
.form-box .frm-row-submit:last-child .frm-field:last-child {
  margin-bottom: 0;
}
.form-box .frm-row-submit {
  padding-top: 15px;
}
.form-box .field-info {
  margin-bottom: 28px;
  margin-bottom: 2.8rem;
}
.form-box .field-info .frm-select {
  margin: 0 30px;
  margin: 0 3rem;
  width: calc(100% - 6rem);
}
.form-box .field-button .btn {
  width: 100%;
  min-width: 0;
}
.tiles-box {
  margin-bottom: 60px;
  margin-bottom: 6rem;
}
.tiles-box .items-wrap {
  margin: 0 -10px;
}
.tiles-box .item-wrap {
  padding: 0 10px;
  margin-bottom: 20px;
}
.tiles-box .item-wrap.wrap-full {
  width: 100%;
}
.title-box {
  margin-bottom: 40px;
  margin-bottom: 4rem;
  line-height: 1.55555556;
  font-weight: bold;
}
.title-box .page-title {
  margin-bottom: 22px;
  margin-bottom: 2.2rem;
  color: var(--clr-att);
}
.title-box p {
  margin: 0;
  max-width: 45.55555556em;
}
.title-box.title-center p,
.title-box.title-center .page-title {
  margin-left: auto;
  margin-right: auto;
}
.box-bg {
  position: relative;
  z-index: 2;
  padding: 60px 0;
  padding: 6rem 0;
}
.box-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -72px;
  left: -7.2rem;
  right: -72px;
  right: -7.2rem;
  border-radius: 4rem;
  border: 1px solid #ffffff03;
  background: #ffffff03;
  z-index: -1;
}
@media (max-width: 1599px) {
  .box-bg:before {
    left: -4rem;
    right: -4rem;
  }
}
@media (max-width: 1399px) {
  .box-bg {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .box-bg:before {
    left: 0;
    right: 0;
  }
}
@media (max-width: 1023px) {
  .tiles-news-box .item-wrap {
    width: 50%;
  }
  .tiles-pluses-box .item-wrap {
    width: 50%;
  }
  .change-box .column-content-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .change-box .columns-inner-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .change-box .column-inner-wrap {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-order: 3;
        order: 3;
  }
  .change-box .column-inner-wrap.col-change {
    -ms-flex-order: 1;
        order: 1;
    width: 50%;
  }
  .tabs-box {
    margin-bottom: 20px;
  }
  .tabs-box .menu {
    margin-right: -5px;
  }
  .tabs-box .menu li {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .change-box .column-inner-wrap.col-change {
    width: 100%;
  }
}
@media (max-width: 639px) {
  .tiles-news-box .item-wrap {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .tiles-pluses-box .item-wrap {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .title-box {
    position: relative;
  }
  .title-box:has(.btn) {
    padding: 0 200px;
  }
  .title-box .btn {
    position: absolute;
    top: 4px;
    right: 0;
  }
}
/* ----------------------------------- *\
			inputs elements styles
\* ----------------------------------- */
.form-input[placeholder] {
  text-overflow: ellipsis;
}
.form-input {
  text-overflow: ellipsis;
  height: 50px;
  border-radius: 25px;
  background-color: var(--clr-bg);
  border: 1px solid #ffffff03;
  padding: 0 10px 0 30px;
  padding: 0 10px 0 3rem;
  font-size: 12px;
  line-height: 20px;
  color: var(--clr-base);
  cursor: pointer;
}
.form-input:hover,
.form-input:focus {
  border-color: var(--clr-border);
}
.form-input:hover[placeholder]::-webkit-input-placeholder,
.form-input:focus[placeholder]::-webkit-input-placeholder {
  color: var(--clr-base);
}
.form-input:hover[placeholder]:-moz-placeholder,
.form-input:focus[placeholder]:-moz-placeholder {
  color: var(--clr-base);
}
.form-input:hover[placeholder]::-moz-placeholder,
.form-input:focus[placeholder]::-moz-placeholder {
  color: var(--clr-base);
}
.form-input:hover[placeholder]:-ms-input-placeholder,
.form-input:focus[placeholder]:-ms-input-placeholder {
  color: var(--clr-base);
}
.form-input.form-input-large {
  height: 60px;
  border-radius: 30px;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}
[placeholder]::-webkit-input-placeholder {
  color: var(--clr-base-light);
}
[placeholder]:-moz-placeholder {
  color: var(--clr-base-light);
}
[placeholder]::-moz-placeholder {
  color: var(--clr-base-light);
}
[placeholder]:-ms-input-placeholder {
  color: var(--clr-base-light);
}
select.form-input {
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  padding-right: 30px;
  background-image: url(../img/icons/arrow-select.svg);
  background-position: right 20px center;
  background-color: var(--clr-base);
  background-repeat: no-repeat;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none!important;
  line-height: 1em;
  text-indent: 0.01px;
  outline: none;
  cursor: pointer;
}
select.form-input.form-input-clear {
  height: auto;
  border: none;
  min-height: 0;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  line-height: inherit;
  padding: 0 16px 0 0;
  color: inherit;
  font-weight: bold;
  background-image: url(../img/icons/arrow-select.png);
  background-size: 8px auto;
  background-repeat: no-repeat;
  background-position: right center;
}
select::-ms-expand {
  display: none;
}
select.form-input:required:invalid {
  color: #ADADAD;
}
.btn {
  height: 60px;
  border-radius: 30px;
  background: linear-gradient(46deg, rgba(255, 255, 255, 0) 24.28%, rgba(255, 255, 255, 0.15) 47.35%, rgba(255, 255, 255, 0) 77.01%), var(--clr-att-third);
  border: 2px solid var(--clr-att-second);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0 30px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  overflow: visible;
  color: var(--clr-base);
  min-width: 300px;
  min-width: 30rem;
}
.btn.button-content {
  height: 40px;
  padding: 0 24px;
  font-size: 13px;
  min-width: 158px;
}
.btn.button-second {
  border-color: #ffffff04;
  background: #ffffff04;
  color: var(--clr-att-second);
  box-shadow: none;
  filter: none;
}
.btn.button-second:before {
  display: none;
}
.btn.button-second:hover,
.btn.button-second.active {
  border-color: var(--clr-att-second);
  background: var(--clr-att-second);
  color: var(--clr-base);
}
.btn.button-second.button-border:not(:hover) {
  border-color: var(--clr-border-light);
  background: transparent;
  color: var(--clr-base);
}
.btn.button-tab {
  border-color: #ffffff04;
  border-width: 2px;
  background: #ffffff04;
  color: var(--clr-base);
  box-shadow: none;
  filter: none;
  height: 40px;
  padding: 0 18px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  min-width: 0;
  text-transform: none;
}
.btn.button-tab:before {
  display: block;
  opacity: 0;
  border: 2px solid #E79E2D;
  filter: blur(2px);
  border-radius: 20px;
}
.btn.button-tab:hover {
  border-color: #ffffff04;
  background: #ffffff04;
  color: #D38A19;
}
.btn.button-tab.active {
  color: var(--clr-base);
  background: linear-gradient(46deg, rgba(255, 255, 255, 0) 24.28%, rgba(255, 255, 255, 0.15) 47.35%, rgba(255, 255, 255, 0) 77.01%), rgba(211, 138, 25, 0.8);
  border-color: #E79E2D;
  filter: drop-shadow(0px 4px 4px rgba(231, 158, 45, 0.25));
}
.btn.button-tab.active:before {
  opacity: 1;
}
.btn:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 30px;
  border: 2px solid var(--clr-att-second);
  filter: blur(2px);
}
.btn .button-title,
.btn .button-ico {
  position: relative;
  z-index: 2;
}
.btn.button-clear {
  width: auto;
  height: auto;
  line-height: 24px;
  color: inherit;
  white-space: normal;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  min-width: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-weight: inherit;
}
.btn.button-clear:hover {
  border: none;
  background: none;
  color: var(--clr-att);
}
.btn.button-clear .button-ico {
  width: 24px;
  height: 24px;
  filter: none;
}
.btn.button-border {
  border-color: var(--clr-att-second);
  background: #07151D;
  color: var(--clr-att-second);
  filter: none;
}
.btn.button-border:hover {
  background-color: var(--clr-att-second);
  border-color: var(--clr-att-second);
  color: var(--clr-base);
}
.btn.button-border:before {
  display: none;
}
.btn .button-ico {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  transition: all ease 0.2s;
}
.btn .button-ico:last-child {
  margin-right: 0;
}
.btn .button-ico:first-child {
  margin-left: 0;
}
.btn .button-title[data-title]:before {
  content: attr(data-title);
}
.btn .button-title[data-show]:before {
  content: attr(data-show);
}
.btn.active .button-title[data-title-active]:before {
  content: attr(data-title-active);
}
.btn.active .button-title[data-hide]:before {
  content: attr(data-hide);
}
.btn-action-unit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  color: var(--clr-base-light);
  transition: all ease 0.2s;
  position: relative;
  overflow: visible;
  padding: 10px;
  max-width: 100%;
  width: 100%;
  z-index: 2;
}
.btn-action-unit:hover {
  color: var(--clr-base-light);
}
.btn-action-unit:hover:before {
  opacity: 1;
}
.btn-action-unit:before {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  right: -10px;
  border-radius: 50px;
  border: 1px solid #ffffff10;
  transition: all ease 0.2s;
  opacity: 0;
}
.btn-action-unit .button-ico {
  width: 30px;
  height: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn-action-unit .button-ico img,
.btn-action-unit .button-ico svg {
  max-width: 100%;
  max-height: 100%;
}
.btn-action-unit .button-title {
  display: block;
  -ms-flex: 1;
      flex: 1;
  padding-left: 12px;
  max-width: calc(100% - 30px);
}
.btn-action-unit .button-name {
  font-weight: bold;
  color: var(--clr-base);
}
.btn-action-unit .button-name:last-child {
  margin-bottom: 0;
}
.btn-action-unit .button-name,
.btn-action-unit .button-info {
  display: block;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-action-ico {
  min-width: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: all ease 0.2s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn-action-ico:not(.btn) {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-action-ico.btn {
  min-width: 0;
  min-height: 0;
  padding: 0;
  display: block;
}
.btn-action-ico:before,
.btn-action-ico:after,
.btn-action-ico [class*="icon-"],
.btn-action-ico img,
.btn-action-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all ease 0.2s;
}
.btn-action-ico img,
.btn-action-ico svg {
  max-width: 24px;
  max-height: 24px;
}
.btn-action-ico:before,
.btn-action-ico:after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px auto;
}
.btn-action-ico:hover {
  text-decoration: none;
}
.btn-action-ico:hover:not(.btn) {
  background: none;
  box-shadow: none;
}
.btn-action-ico.ico-arrow {
  z-index: 20;
  cursor: pointer;
}
.btn-action-ico.ico-arrow:before {
  background-image: url(../img/icons/arrow-slider.png);
}
.btn-action-ico.ico-arrow.swiper-button-disabled {
  opacity: 0.5;
}
.btn-action-ico.ico-arrow-prev:before {
  transform: rotate(180deg);
}
.btn-action-ico.ico-menu:after,
.btn-action-ico.ico-menu:before {
  width: 24px;
  height: 18px;
  border-top: 2px solid var(--clr-base);
  border-bottom: 2px solid var(--clr-base);
  margin: -9px 0 0 -12px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
}
.btn-action-ico.ico-menu:before {
  height: 2px;
  margin-top: -1px;
  border-top: none;
}
.btn-action-ico.ico-menu.active:after {
  height: 2px;
  margin-top: -1px;
  border-top: none;
  transform: rotate(-45deg);
}
.btn-action-ico.ico-menu.active:before {
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:after,
.btn-action-ico.ico-close:before {
  width: 20px;
  height: 2px;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin: -1px 0 0 -10px;
  background: var(--clr-base);
}
.btn-action-ico.ico-close:before {
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:after {
  transform: rotate(-45deg);
}
.btn-action-ico.button-soc img,
.btn-action-ico.button-soc svg {
  max-width: 100%;
  max-height: 100%;
}
.btn-action-ico.button-soc:hover {
  opacity: 0.8;
}
.btn-action-icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  color: inherit;
}
.btn-action-icon.button-att {
  color: var(--clr-att);
}
.btn-action-icon.button-att .button-ico {
  filter: none;
}
.btn-action-icon:hover {
  color: var(--clr-att);
}
.btn-action-icon:hover .button-ico {
  filter: none;
}
.btn-action-icon .button-ico {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  filter: brightness(0) grayscale(1);
}
.btn-action-icon .button-ico + .button-title {
  padding-left: 10px;
}
.btn-action-icon .button-title {
  display: block;
}
/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-field-search {
  position: relative;
}
.frm-field-search:hover:before,
.frm-field-search:has(:focus):before {
  opacity: 1;
  filter: none;
}
.frm-field-search:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(../img/icons/frm-search.svg) center no-repeat;
  background-size: 100% auto;
  top: 50%;
  left: 30px;
  left: 3rem;
  margin: -12px 0 0 -12px;
  z-index: 2;
  pointer-events: none;
  filter: brightness(0) invert(1);
  opacity: 0.3;
  transition: all ease 0.2s;
}
.frm-field-search .form-input {
  background-color: #000D15;
  border-color: #000D15;
  padding-left: 52px;
  padding-left: 5.2rem;
  font-size: 14px;
  line-height: 20px;
}
.frm-field-info-labels {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 12px;
  line-height: 20px;
  color: var(--clr-base-light);
  margin-top: 16px;
}
.frm-field-info-labels:first-child {
  margin-top: 0;
}
.frm-field-info-labels .field-info-label {
  padding: 0 10px 0 0;
}
.frm-field-info-labels .field-info-label:last-child {
  padding: 0;
  text-align: right;
}
.frm-field-info-labels .label-light {
  display: inline;
  color: var(--clr-base);
}
.frm-field-input {
  position: relative;
}
.frm-field-input:hover .frm-ico,
.frm-field-input:has(:focus) .frm-ico {
  opacity: 1;
  FILTER: NONE;
}
.frm-field-input .frm-ico {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 36px;
  left: 3.6rem;
  margin: -12px 0 0 -12px;
  opacity: 0.2;
  z-index: 2;
  pointer-events: none;
  filter: brightness(0) invert(1);
  transition: all ease 0.2s;
}
.frm-field-input .frm-ico ~ .form-input {
  padding-left: 50px;
  padding-left: 5rem;
}
.frm-field-input .form-input {
  padding-left: 30px;
  padding-left: 3rem;
}
.frm-row,
.frm-field,
.frm-row-submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  line-height: 1;
}
.frm-field {
  display: block;
  width: 100%;
}
.frm-select {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1;
}
.frm-select input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.frm-select input:checked ~ label:after {
  opacity: 1;
}
.frm-select label {
  display: block;
  position: relative;
  cursor: pointer;
}
.frm-select label:before,
.frm-select label:after {
  content: "";
  display: block;
  position: absolute;
}
.frm-select label:after {
  opacity: 0;
}
.frm-select {
  overflow: visible;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 30px;
  min-height: 3rem;
}
.frm-select:hover label:before {
  border-color: var(--clr-border);
}
.frm-select input:checked ~ label:after {
  opacity: 1;
}
.frm-select label {
  font-size: 12px;
  line-height: 16px;
  padding-left: 50px;
  padding-left: 5rem;
}
.frm-select label:before,
.frm-select label:after {
  width: 30px;
  width: 3rem;
  height: 30px;
  height: 3rem;
  background: #ffffff04;
  border: 1px solid #ffffff03;
  transition: all ease 0.2s;
  top: 50%;
  left: 0;
  margin-top: -15px;
  margin-top: -1.5rem;
  border-radius: 5px;
}
.frm-select label:after {
  border-radius: 0;
  border: none;
  background: url(../img/icons/chk.svg) center / 100% auto no-repeat;
  opacity: 0;
}
.frm-select a {
  color: var(--clr-att);
}
.frm-select a:hover {
  color: var(--clr-att-second);
}
/* ----------------------------------- *\
		common styles
\* ----------------------------------- */
@keyframes flash {
  0% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinslide {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
.i,
[class*="icon-"] {
  display: block;
  transition: none;
}
.img-bg-cover,
.img-bg-contain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.img-bg-contain {
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@supports (object-fit: cover) {
  .img-bg-cover {
    height: 100%;
    object-fit: cover;
  }
}
@supports (object-fit: contain) {
  .img-bg-contain {
    height: 100%;
    object-fit: contain;
    max-width: inherit;
    max-height: inherit;
    right: auto;
    bottom: auto;
  }
}
.js-btn-popup-toggle.active + .js-popup-block {
  display: block !important;
}
.js-popup-block {
  animation: fadein ease 0.3s;
}
.js-tab-block {
  animation: fadein ease 0.2s;
}
.js-tab-block:not(.active) {
  display: none;
}
.js-tab-block.tab-slider:not(.active) {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  height: 0;
  position: relative;
  overflow: hidden;
}
.items-wrap,
.tile-items-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.item-wrap,
.tile-item-wrap {
  width: 100%;
  position: relative;
  break-inside: avoid-column;
  display: block;
  animation: fadein ease 0.2s;
}
.tile-many-lines,
.text-many-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* 

add to head box

<style>
	.tile-many-lines, .text-many-lines {
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
</style>

 */
.item-tile,
.tile-outer-wrap,
.tile-inner-wrap,
.tile-photo-wrap,
.tile-photos-wrap,
.tile-info-wrap,
.tile-text-wrap,
.tile-title-wrap,
.tile-desc-wrap,
.tile-actions-wrap,
.tile-action-wrap,
.tile-ico,
.tile-photo,
.tile-info,
.tile-text,
.tile-title,
.tile-desc {
  display: block;
  position: relative;
}
.tile-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
.no-mbottom {
  margin-bottom: 0 !important;
}
.no-mtop {
  margin-top: 0 !important;
}
.no-pbottom {
  padding-bottom: 0 !important;
}
.no-ptop {
  padding-top: 0 !important;
}
.elm-hidden {
  display: none !important;
}
input.form-clear-autofill::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.sl-wrap.swiper-slide {
  height: auto;
}
.swiper,
.swiper-wrapper {
  position: relative;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: auto;
  bottom: auto;
}
.slider-pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 -5px -5px -5px;
  position: relative;
  width: auto;
}
.slider-pagination .swiper-pagination-bullet {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--clr-light);
  opacity: 1;
  transition: all ease 0.2s;
  cursor: pointer;
  padding: 0;
  margin: 0 5px 5px 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.slider-pagination .swiper-pagination-bullet:hover,
.slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--clr-att);
  border-color: var(--clr-att);
}
.is-modern .f-thumbs__slide__button {
  -webkit-clip-path: inherit !important;
          clip-path: inherit !important;
}
@media (max-width: 1023px) {
  .elm-hidden-mobile {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .elm-hidden-desktop {
    display: none !important;
  }
}
/* ----------------------------------- *\
			fonts
\* ----------------------------------- */
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'), url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
