/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-field-attention-text {
	font-size: 14px;
	line-height: 20px;
	padding: 2rem 3rem;
	border-radius: 2rem;
	background: #ffffff04;
}
.frm-info-text {
	font-size: 14px;
	line-height: 24px;
	color: var(--clr-att);
	display: block;
	position: relative;
	padding-left: 22px;
	&:before {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		background: url(../img/icons/info.svg) center no-repeat;
		background-size: 100% auto;
		top: 12px;left: 8px;
		margin: -8px 0 0 -8px;
	}
}
.frm-field-value {
	display: block;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: var(--clr-bg);
	border-color: #ffffff03;
}
.frm-field-select {
	position: relative;
	.popup-content-block {
		display: none;
		position: absolute;
		top: 0;left: 0;right: 0;
		z-index: 20;
		padding: 50px 0 10px 0;
		border-radius: 25px;
		background: var(--clr-bg);
		border: 1px solid #ffffff03;
	}
	.popup-form-wrap {
		padding: 0 20px 5px 20px;
		width: 100%;
		flex-shrink: 0;
		.form-input {
			&:not(:hover, :focus) {
				border-color: #ffffff10;
			}
		}
	}
	.popup-menu-wrap {
		max-height: 200px;
		overflow-x: hidden;
		overflow-y: auto;
		&::-webkit-scrollbar {
			height: 4px;
			width: 4px;
			background-color: var(--clr-light);
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--clr-att);
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: var(--clr-att);
		}
		&::-webkit-scrollbar-button:vertical:start:decrement {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:vertical:end:increment {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:horizontal:start:decrement {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:horizontal:end:increment {
			background-color: transparent;
			width: 0;
			height: 0;
		}
	}
	.btn-popup-select {
		display: flex;
		align-items: center;
		width: 100%;
		color: var(--clr-base);
		position: relative;
		padding-right: 50px;
		&:before {
			content: "";
			display: block;
			width: 14px;;
			height: 14px;;
			position: absolute;
			background: url(../img/icons/arrow-toggle.svg) center no-repeat;
			background-size: 100% auto;
			top: 50%;right: 24px;
			margin-top: -7px;
			transition: all ease 0.2s;
			z-index: 2;
			rotate: 0;
			z-index: 21;
		}
		&.active {
			border-color: transparent;
			background-color: transparent;
			&:before {
				rotate: 180deg;
			}
		}
		.button-title, .button-ico {
			z-index: 21;
			position: relative;
		}
	}
	.btn-select {
		display: flex;
		align-items: center;
		padding: 10px 3rem 10px 3rem;
		color: var(--clr-base);
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;left: 3rem;right: 3rem;
			height: 1px;
			background: #ffffff10;
		}
		&:hover, &.active {
			background-color: #ffffff05;;
			&:before {
				opacity: 0;
			}
		}
	}
	.button-ico {
		width: 20px;height: 20px;
		flex-shrink: 0;
	}
	.button-title {
		display: block;
		padding-left: 10px;
		font-size: 12px;
		line-height: 16px;
		font-weight: bold;
		flex: 1;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
.frm-field-label {
	display: flex;
	align-items: center;
	height: 50px;
	border-radius: 25px;
	border: 1px solid var(--clr-border-light);
	padding: 0 24px;
	font-size: 14px;
	line-height: 20px;
	color: var(--clr-base-light);
	max-width: 100%;
	.field-title {
		color: #fff;
		margin: 0 10px 0 0;
		font-size: 12px;
		font-weight: bold;
		flex-shrink: 0;
	}
	.field-value {
		display: block;
		flex-shrink: 0;
	}
	&:hover {
		color: var(--clr-base-light);
	}
}
.frm-field-password {
	position: relative;
	.button-view-toggle {
		position: absolute;
		top: 50%;right: 40px;
		margin: -20px -20px 0 0;
		z-index: 2;
	}
	&:hover {
		.btn-action-ico {
			&.ico-password {
				&:before, &:after {
					filter: none;
				}
			}
		}
	}
}
.frm-field-input-main {
	display: block;
	position: relative;
	.form-input {
		padding-top: 2.5rem;
	}
	.field-label {
		display: block;
		position: absolute;
		top: 0;left: 0;right: 0;
		font-size: 12px;
		line-height: 20px;
		color: var(--clr-base-light);
		z-index: 2;
		pointer-events: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 7px 20px 0 3rem;
	}
}
.frm-field-link {
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
}
.frm-field-info {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 24px;
	color: var(--clr-base);
	.frm-ico {
		width: 30px;height: 30px;
		flex-shrink: 0;
	}
	.field-info-title {
		padding-left: 3rem;
	}
	a {
		font-size: 16px;
	}
}
.frm-field-search {
	position: relative;
	&:hover, &:has(:focus) {
		&:before {
			opacity: 1;
			filter: none;
		}
	}
	&:before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		background: url(../img/icons/frm-search.svg) center no-repeat;
		background-size: 100% auto;
		top: 50%;left: 3rem;
		margin: -12px 0 0 -12px;
		z-index: 2;
		pointer-events: none;
		filter: brightness(0) invert(1);
		opacity: 0.3;
		transition: all ease 0.2s;
	}
	.form-input {
		background-color: #000D15;
		border-color: #000D15;
		padding-left: 5.2rem;
		font-size: 14px;
		line-height: 20px;
	}
}
.frm-field-info-labels {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	line-height: 20px;
	color: var(--clr-base-light);
	margin-top: 16px;
	&:first-child {
		margin-top: 0;
	}
	.field-info-label {
		padding: 0 10px 0 0;
		&:last-child {
			padding: 0;
			text-align: right;
		}
	}
	.label-light {
		display: inline;
		color: var(--clr-base);
	}
}
.frm-field-input {
	position: relative;
	&:hover, &:has(:focus) {
		.frm-ico {
			opacity: 1;
			FILTER: NONE;
		}
	}
	.frm-ico {
		width: 24px;height: 24px;
		position: absolute;
		top: 50%;left: 3.6rem;
		margin: -12px 0 0 -12px;
		opacity: 0.2;
		z-index: 2;
		pointer-events: none;
		filter: brightness(0) invert(1);
		transition: all ease 0.2s;
		&~.form-input {
			padding-left: 5rem;
		}
	}
	.form-input {
		padding-left: 3rem;
	}
}
.frm-row,
.frm-field,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
}
.frm-field {
    display: block;
    width: 100%;
	.field-input-title {
		display: block;
		font-size: 12px;
		line-height: 20px;
		color: var(--clr-base-light);
		margin-bottom: 9px;
	}
}
.frm-select {
	position: relative;
	display: block;
	overflow: hidden;
    line-height: 1;
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
		&:after {
			opacity: 0;
		}
	}
}


.frm-select {
	overflow: visible;
	display: flex;
	align-items: center;
	width: 100%;
	flex-shrink: 0;
	min-height: 3rem;
	&:hover {
		label {
			&:before {
				border-color: var(--clr-border);
			}
		}
	}
	input {
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		font-size: 12px;
		line-height: 16px;
		padding-left: 5rem;
		
		&:before, &:after {
			width: 3rem;height: 3rem;
			background: #ffffff04;
			border: 1px solid #ffffff03;
			transition: all ease 0.2s;
			top: 50%;left: 0;
			margin-top: -1.5rem;
			border-radius: 5px;
		}
		&:after {
			border-radius: 0;
			border: none;
			background: url(../img/icons/chk.svg) center / 100% auto no-repeat;
			opacity: 0;
		}
	}
	a {
		color: var(--clr-att);
		&:hover {
			color: var(--clr-att-second);
		}
	}
}