
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="box-inner-wrap">
				<div class="logo-inner-wrap">
					<div class="logo-wrap">
						<a href="" class="logo">
							<img src="./img/main/logo.svg" alt="">
						</a>
					</div>
					<div class="info-wrap">
						<a href="">Политика конфиденциальности</a>
					</div>
				</div>
				<div class="partners-inner-wrap">
					<div class="partners-title">Наши партнеры:</div>
					<ul class="list">
						<li>
							<a href="" class="elm-photo">
								<img src="./img/main/logo01.png" alt="">
							</a>
						</li>
						<li>
							<a href="" class="elm-photo">
								<img src="./img/main/logo02.png" alt="">
							</a>
						</li>
						<li>
							<a href="" class="elm-photo">
								<img src="./img/main/logo03.png" alt="">
							</a>
						</li>
						<li>
							<a href="" class="elm-photo">
								<img src="./img/main/logo04.png" alt="">
							</a>
						</li>
						<li>
							<a href="" class="elm-photo">
								<img src="./img/main/logo05.png" alt="">
							</a>
						</li>
						<li>
							<a href="" class="elm-photo">
								<img src="./img/main/logo06.png" alt="">
							</a>
						</li>
						<li>
							<a href="" class="elm-photo">
								<img src="./img/main/logo07.png" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<div class="info-wrap">© 2024&nbsp;C-crypto.cc Все права защищены</div>
				<div class="info-wrap">Разработка сайта: <a href="">miridea.ru</a></div>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->