
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-action-ico ico-menu btn-popup js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-list-wrap">
					<ul class="menu">
						<li><a href="" class="btn-menu">Обмен</a></li>
						<li><a href="" class="btn-menu">Правила</a></li>
						<li><a href="" class="btn-menu">AML/KYC</a></li>
						<li><a href="" class="btn-menu">Партнерам</a></li>
						<li><a href="" class="btn-menu">Контакты</a></li>
					</ul>
				</div>
				<div class="lang-inner-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn button-border button-content active">ру</a>
						</li>
						<li>
							<a href="" class="btn button-border button-content">eng</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="login-inner-wrap">
			<!-- <a href="" class="btn-user">
				<div class="button-title">Kirill.Kirill.456445Kirill.Kirill.456445Kirill.Kirill.456445Kirill.Kirill.456445Kirill.Kirill.456445</div>
			</a> -->
			<a href="" class="btn button-border button-content">Вход / Регистрация</a>
		</div>
	</div>
</header>
<!-- /header -->
